
body {
    margin: 0;
    background-color:#0C4A6E;
    text-align:center;
}

.container {
    display: flex;
    justify-content: center;
    gap:4rem;
}

#home-box{
    height:100px;
    width:140px;
    background-color: black;
    color: white;
    margin-bottom:20px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:80px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding-top:15px                                            
}
#guest-box{
    height:100px;
    width:140px;
    background-color: black;
    color: white;
    margin-bottom:20px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:80px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding-top:15px 
}
h3{
    color:whitesmoke;
    letter-spacing: 2px;
    font-size: 32px;
    margin-bottom: 15px;
}
.homebuttons{
     background-color:#0C4A6E;
     border:1px solid whitesmoke;
     width:40px;
     height:30px;
     margin-left:5px
}
.guestbuttons{
     background-color:#0C4A6E;
     border:1px solid whitesmoke; 
     width:40px;
     height:30px;
     margin-left:5px;
}

.homebuttons:hover{
    background-color:#BAE6FD;
    border:2px solid #0C4A6E;
}
.homebuttons:focus {
  outline: none;
}
.guestbuttons:hover{
    background-color:#BAE6FD;
}
.guestbuttons:focus {
  outline: none;
}

.newGameButton{
     background-color:#0C4A6E;
     border:1px solid whitesmoke;
     width:100px;
     height:30px;
     margin-left:5px;
     margin-top:10px;
}
.newGameButton:hover{
    background-color:#BAE6FD;
    border:2px solid #0C4A6E;
}
.newGameButton:focus {
  outline: none;
}

